<!DOCTYPE html>
<html>
<head>
  <title>EasyTokens</title>
  <%= stylesheet_link_tag    "easy_tokens/application", media: "all" %>
  <%= javascript_include_tag "easy_tokens/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
